.myPhoto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__a {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__card {
      width: 90%;
      height: 90%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0 36px;
      // margin-top: 80px;
      perspective: 2500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &__wrapper {
        transition: all 0.5s;
        position: absolute;
        width: 100%;
        z-index: -1;

        &::after,
        &::before {
          content: "";
          opacity: 0;
          width: 100%;
          height: 80px;
          transition: all 0.5s;
          position: absolute;
          left: 0;
        }

        &::before {
          top: 0;
          height: 100%;
          //   background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
        }

        &::after {
          bottom: 0;
          opacity: 1;
          //   background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%);
        }

        &__coverImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:hover &__wrapper {
        transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
        // box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
      }

      &__character {
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        // position: absolute;
        z-index: -1;
      }

      &:hover &__wrapper::after,
      &__wrapper::after {
        opacity: 1;
      }

      &:hover &__wrapper::after {
        height: 120px;
      }

      &:hover &__wrapper {
        opacity: 0;
      }

      &:hover &__character {
        opacity: 1;
        transform: translate3d(0%, -5%, 100px);
      }
    }
  }
}
