.name {
  position: relative;
  padding-bottom: 5px;
  &::before {
    content: "";
    background-image: linear-gradient(to right, #dd5e89 0%, #f7bb97 100%),
      radial-gradient(circle at top left, #dd5e89, #f7bb97);
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    height: 5px;
    width: 50px;
    position: absolute;
    bottom: 0;
  }
  & > h2 {
    font-size: 30px;
    text-transform: capitalize;
  }
}
